<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movieMapper">

    <select id="countByMovieId" parameterType="int" resultType="int">
	    SELECT COUNT(*)
	    FROM MOVIE
	    WHERE MOVIE_ID = #{value}
	</select>

   <insert id="insertMovie" parameterType="Movie">
    INSERT INTO MOVIE(
          MOVIE_ID
        , MOVIE_TITLE
        , CATEGORY
        , DIRECTOR
        , ADULT
        , RELEASE_DATE
        , POPULARITY
        , RATING_SCORE
        , REVIEW_COUNT
        , LIKE_COUNT
        , DISLIKE_COUNT
        , CONTENT
    )
    VALUES (
          #{movieId}
        , #{movieTitle}
        , #{category}
        , #{director}
        , #{adult}
        , CASE
            WHEN #{releaseDateStr} IS NULL OR #{releaseDateStr} = ''
            THEN NULL
            ELSE TO_DATE(#{releaseDateStr}, 'YYYY-MM-DD')
          END
        , #{popularity}
        , #{ratingScore}
        , #{reviewCount}
        , #{likeCount}
        , #{dislikeCount}
        , #{content}
    )
	</insert>


	<select id="selectCommentList" parameterType="_int" resultType="com.kh.moviediary.comment.vo.MovieComment">
        SELECT
            COMMENT_ID 
            ,CONTENT      
            ,CREATE_DATE   
            ,UPDATE_DATE   
            ,MOVIE_ID      
            ,USER_ID       
            ,LIKE_COUNT    
        FROM MOVIE_COMMENT
        WHERE MOVIE_ID = #{movieId}
        ORDER BY CREATE_DATE DESC, COMMENT_ID DESC
    </select>

    <insert id="insertComment" parameterType="com.kh.moviediary.comment.vo.MovieComment">
        INSERT INTO MOVIE_COMMENT (
            COMMENT_ID
            ,CONTENT
            ,CREATE_DATE
            ,UPDATE_DATE
            ,MOVIE_ID
            ,USER_ID
            ,LIKE_COUNT
        ) VALUES (
            SEQ_CONO.NEXTVAL
            ,#{content}
            ,SYSDATE
            ,NULL
            ,#{movieId}
            ,#{userId}
            ,0
        )
    </insert>
    
    <delete id="deleteComment" parameterType="com.kh.moviediary.comment.vo.MovieComment">
    	DELETE FROM MOVIE_COMMENT
		WHERE COMMENT_ID = #{commentId}
    </delete>
    
    <!-- 내 선택 조회 -->
	<select id="selectMyChoice" parameterType="map" resultType="string">
	    SELECT LIKE_TYPE
	    FROM MOVIE_LIKE
	    WHERE MOVIE_ID = #{movieId}
	      AND USER_ID  = #{userId}
	</select>
	
	<!-- 좋아요 / 싫어요 전체 카운트 -->
	<select id="selectCounts" parameterType="map" resultType="map">
	    SELECT
	        (SELECT COUNT(*)
	           FROM MOVIE_LIKE
	          WHERE MOVIE_ID = #{movieId}
	            AND LIKE_TYPE = 'LIKE')    AS LIKE_COUNT,
	
	        (SELECT COUNT(*)
	           FROM MOVIE_LIKE
	          WHERE MOVIE_ID = #{movieId}
	            AND LIKE_TYPE = 'DISLIKE') AS DISLIKE_COUNT
	    FROM DUAL
	</select>
	
	<!-- 최초 클릭 (insert) -->
	<insert id="insertLike" parameterType="map">
	    INSERT INTO MOVIE_LIKE (MOVIE_ID, USER_ID, LIKE_TYPE)
	    VALUES (#{movieId}, #{userId}, #{likeType})
	</insert>
	
	<!-- LIKE ↔ DISLIKE 변경 -->
	<update id="updateLike" parameterType="map">
	    UPDATE MOVIE_LIKE
	       SET LIKE_TYPE = #{likeType}
	     WHERE MOVIE_ID = #{movieId}
	       AND USER_ID  = #{userId}
	</update>
	
	<!-- 같은 버튼 다시 누르면 취소 -->
	<delete id="deleteLike" parameterType="map">
	    DELETE FROM MOVIE_LIKE
	     WHERE MOVIE_ID = #{movieId}
	       AND USER_ID  = #{userId}
	</delete>

</mapper>
