<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movieMapper">

    <select id="countByMovieId" parameterType="int" resultType="int">
	    SELECT COUNT(*)
	    FROM MOVIE
	    WHERE MOVIE_ID = #{value}
	</select>

   <insert id="insertMovie" parameterType="Movie">
    INSERT INTO MOVIE(
          MOVIE_ID
        , MOVIE_TITLE
        , CATEGORY
        , DIRECTOR
        , ADULT
        , RELEASE_DATE
        , POPULARITY
        , RATING_SCORE
        , REVIEW_COUNT
        , LIKE_COUNT
        , DISLIKE_COUNT
        , CONTENT
    )
    VALUES (
          #{movieId}
        , #{movieTitle}
        , #{category}
        , #{director}
        , #{adult}
        , CASE
            WHEN #{releaseDateStr} IS NULL OR #{releaseDateStr} = ''
            THEN NULL
            ELSE TO_DATE(#{releaseDateStr}, 'YYYY-MM-DD')
          END
        , #{popularity}
        , #{ratingScore}
        , #{reviewCount}
        , #{likeCount}
        , #{dislikeCount}
        , #{content}
    )
</insert>

</mapper>
