<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="reviewMapper">
 
 <insert id="reviewInsert" parameterType="Review">
 	INSERT INTO REVIEW
 	VALUES(SEQ_RENO.NEXTVAL
 		   ,#{content}
 		   ,SYSDATE
 		   ,SYSDATE
 		   ,0
 		   ,0
 		   ,(SELECT MOVIE_ID
			FROM MOVIE
			WHERE MOVIE_TITLE = #{movieTitle})
		   ,#{userId}
		   )
		   
 </insert>
 
 <select id="listCount" resultType="_int">
 	SELECT COUNT(*)
 	FROM REVIEW
 </select>
 
 <select id="reviewList" resultType="ReviewList">
 	SELECT REVIEW_ID
 		  ,MOVIE_ID
 		  ,USER_ID
 		  ,VIEW_COUNT
 		  ,LIKE_COUNT
 		  ,CREATE_DATE
 	FROM REVIEW
 </select>
   

</mapper>

