<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="reviewMapper">
 
 <insert id="reviewInsert" parameterType="Review">
 	INSERT INTO REVIEW
 	VALUES(SEQ_RENO.NEXTVAL
 		   ,#{content}
 		   ,SYSDATE
 		   ,NULL
 		   ,0
 		   ,0
 		   ,(SELECT MOVIE_ID
			FROM MOVIE
			WHERE MOVIE_TITLE = #{movieTitle})
		   ,#{userId}
		   )
 </insert>
 
 <update id="increaseCount">
 	UPDATE REVIEW
 	SET VIEWCOUNT=VIEWCOUNT+1;
 	WHERE REVIEW_ID=#{rno}
 </update>
 
 <select id="reviewDetail">
 	SELECT REVIEW_ID,
 		   CONTENT,
 		   CREATE_DATE,
 		   VIEW_COUNT,
 		   LIKE_COUNT,
 		   (SELECT MOVIE_TITLE 
            FROM MOVIE M 
            WHERE M.MOVIE_ID = R.MOVIE_ID) movieTitle
 		   ,USER_ID
 	FROM REVIEW
 	WHERE REVIEW_ID=#{rno}
 </select>
 
 <update id="reviewUpdate" parameterType="Review">
 	UPDATE REVIEW
 	SET CONTENT = #{content},
 		UPDATE_DATE = SYSDATE
	WHERE REVIEW_ID = #{rno}
 </update>
 
 <delete id="reviewDelete">
 	DELETE FROM REVIEW
 	WHERE REVIEW_ID = #{rno}
 </delete>
 
 <select id="listCount" resultType="_int">
 	SELECT COUNT(*)
 	FROM REVIEW
 </select>
 
 <select id="reviewList" resultType="ReviewList">
 	SELECT REVIEW_ID
 		  ,MOVIE_ID
 		  ,USER_ID
 		  ,VIEW_COUNT
 		  ,LIKE_COUNT
 		  ,CREATE_DATE
 	FROM REVIEW
 </select>
   

</mapper>

